body{
    margin: 0;
    font-family: sans-serif;
    background-color: #ffffff;
}
.hero {
   background-image:url("images/image1.jpg");
   background-repeat: no-repeat;
   background-position:center;
   background-size: cover;
   height: 500px;
    width: 100%;
     position:relative;
} 
.overlay1{
    background-color:#ffffffa8;
    height:50px;
}
.logo img{
    width: 60px;
    height: 50px;
    opacity:100%;
    padding-left:100px;

}
.navbar{
     display: flex;
  justify-content: space-between;
  align-items: center;   
   padding-right:100px ;
  
}
.menu a{
    text-decoration: none;
    color: #3C4142;
    padding-right:10px;
   
} 
.overlay2{
    background-color:#ffffffa8;
    height:50px;
    position: absolute;
    width: 100%;
    bottom: 0;
}
.hero-message{
    align-content: center;
    display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left:60px;
}
.btn{
background-color: #4ec3f1;
border-radius: 0;
border: 0;
 text-decoration: none;
color: #ffffff;
padding: 8px 20px ;
margin-right: 60px;

}

.about{
 color:#3C4142;
  text-align: center; 
 background-color: #ecebeb;
 padding: 60px 20px; 
}

.about h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}
.separator {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.features{
  display: flex;
  justify-content: center;
   text-align: center;
    flex-wrap: wrap; 
}
.feature{
   width: 370px;
  
}
.feature-icon {
  width: 38px;
  height: 45px;
  margin-bottom: 20px;
}
.feature p {
  text-align: center;
   max-width: 240px;
  line-height: 1.6;
   margin: 10px auto 0;
   font-size: 14px;
}
.gallery-container{ 
  display: flex;
   gap: 0px;
 } 
.gallery-img{ 
  width: 20%;
 }
  .testimonial{
   background-color:#ecebeb;
   /* max-width: 1000px; 
   margin: 0px auto; 
  padding-top: 30px ;
  padding-bottom: 500px; */ 
   padding: 60px 20px; 
  color: #3C4142;
   text-align: center;
 }
  .testimonial h2 {
  font-size: 24px;
  font-weight: bold;
 padding-bottom: 50px;}

 .testimonial-container{
   display: flex;
  justify-content: center;
   text-align: center;
    flex-wrap: wrap; 
   
 }
 .client{
   width: 370px;
 }
 .client-icon {
  width: 80px;
  height: 70px;
  border-radius: 100%;
  margin-bottom: 2px;}

  .client  p {
  text-align: center;
   max-width: 240px;
  line-height: 1.6;
   margin: 10px auto 0;
   font-size: 14px;
}
.c1{
  font-size:smaller;
  color:#3C4142;
}
.brand-container {
    background-color:#969494a8;
    height:100px;
    display: flex;
    justify-content: center;
}
.brand{
    width: 1000px;
    background-color:#b8b6b6a8 ;
    padding:30px 0 40px 0;
    opacity:100%;
    display: flex;
    justify-content: space-between;}


     .footer{
       background-color: #161515; 
  position: relative;
   display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 100px;
     }
     .overlay3 {
  background-color: #555454a8;
   padding-left:50px;
   padding-left: 50px;
   color: #d1d0d0;

  }
  .btn{
    margin-left: 200px;
  }
.social-icons{
    height:30px;
    width: 90px;
}
.footer-bottom
{background-color:#161515;
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;    
    justify-content: center;   
    width: 1351px;
    color: #ffffff;
    line-height: 1.4;
    font-size: smaller;
    list-style-type: none;
}

.column{
    width:400px;
    padding: 20px 100px;
    padding-top: 0;
    margin-left: 3px;
}
.bold{
  font-weight: bolder;
  font-size: 15px;
}
.footer-end{
    color:#ffffff;
  background-color: #161515;
  padding-top: 50px;
  padding-bottom: 10px;
  text-align: center;
}