body{
    margin: 0;
    font-family: sans-serif;
}
.hero {
   background-image:url(images/image1.jpg);
   background-repeat: no-repeat;
   background-position:center;
   background-size: cover;
   height: 500px;
    width: 100%;
     position:relative;
} 
.overlay1{
    background-color:#ffffffa8;
    height:50px;
}
.logo img{
    width: 60px;
    height: 50px;
    opacity:100%;
    padding-left:100px;

}
.navbar{
     display: flex;
  justify-content: space-between;
  align-items: center;   
   padding-right:100px ;
  
}
.menu a{
    text-decoration: none;
    color: #3C4142;
    padding-right:10px;
   
} 
.overlay2{
    background-color:#ffffffa8;
    height:50px;
    position: absolute;
    width: 100%;
    bottom: 0;
}
.hero-message{
    align-content: center;
    display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left:60px;
}
.btn{
background-color: #4ec3f1;
border-radius: 0;
border: 0;
 text-decoration: none;
color: #ffffff;
padding: 8px 20px ;
margin-right: 60px;

}
.about{
 color:#3C4142;
 text-align: center;
 background-color: #ebebeb;
}
 
.features{
      align-content: center;
    display: flex;
      justify-content: space-between; 
    align-items: center;   
  padding-top: 20px;
}
.feature:first-child{
    padding-left: 200px;
  
}
.feature:last-child{
 padding-right: 200px;
}
.feature p {
  font-size: 14px;
  line-height: 1.6;
  color: #3C4142;
text-align: center;
    max-width: 240px;

}